@{
    ViewData["Title"] = "Forgot Password";
}

<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @@media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>

<section class="vh-75">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- Forget Password Heading -->
                <div class="form-floating mb-4">
                    <h2>Change Password</h2>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" id="oldPasswordInput" class="form-control" placeholder="Enter old password">
                    <label for="oldPasswordInput">Old Password</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" id="newPasswordInput" class="form-control" placeholder="Enter new password">
                    <label for="newPasswordInput">New Password</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" id="confirmPasswordInput" class="form-control" placeholder="Confirm new password">
                    <label for="confirmPasswordInput">Confirm New Password</label>
                </div>
                <button type="button" id="updatePasswordBtn" class="btn btn-primary" onclick="updatePassword()">Update Password</button>

            </div>
        </div>
    </div>
</section>

<script>

    // Function to update password
    function updatePassword() {
        //let email = $('#emailInput').val();
        let oldPassword = $('#oldPasswordInput').val();
        let newPassword = $('#newPasswordInput').val();
        let confirmPassword = $('#confirmPasswordInput').val();

        if (!oldPassword) {
            swal({
                type: 'error',
                title: "Change Password Info",
                text: "Please fill old password field.",  // Show success message
                showCancelButton: false,
                closeOnConfirm: true
            });
            return;
        }

        if (!newPassword) {
            swal({
                type: 'error',
                title: "Change Password Info",
                text: "Please fill new password field.",  // Show success message
                showCancelButton: false,
                closeOnConfirm: true
            });
            return;
        }

        if (!confirmPassword) {
            swal({
                type: 'error',
                title: "Change Password Info",
                text: "Please fill confirm password field.",  // Show success message
                showCancelButton: false,
                closeOnConfirm: true
            });
            return;
        }

        if (newPassword !== confirmPassword) {
            swal({
                type: 'error',
                title: "Change Password Info",
                text: "New and confirm Passwords do not match!",  // Show success message
                showCancelButton: false,
                closeOnConfirm: true
            });
            return;
        }

        // Update password via AJAX call
        $.ajax({
            url: '@Url.Action("ChangeUserPassword", "Login")',
            type: 'POST',
            data: {
                //userEmail: email,
                oldPassword: oldPassword,
                newPassword: newPassword
            },
            success: function (response) {
                if (response.success) {
                    swal({
                        type: 'success',
                        title: "Password Updated Successfully",
                        text: response.message,
                        showCancelButton: false,
                        closeOnConfirm: true
                    }, function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = "/Home/Index";  // Redirect to login page
                        }
                    });
                } else {
                    swal({
                        type: 'error',
                        title: "Change Password Info",
                        text: response.message,  // Show success message
                        showCancelButton: false,
                        closeOnConfirm: true
                    });
                }
            }
        });
    }
</script>